<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunlu.textdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加闪光灯的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 添加震动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 读取联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission android:name="com.peng.yunluo.action.broadcast">
    </permission>
    <uses-permission android:name="com.peng.yunluo.action.broadcast"/>
    <permission android:name="com.peng.remote.share">
    </permission>
    <uses-permission android:name="com.peng.remote.share"/>

    <permission android:name="com.peng.yunluo.app.permission"/>
    <uses-permission android:name="com.peng.yunluo.app.permission"/>

    <!--写入外部存储的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OtherActivity">
            <intent-filter>
                <action android:name="xx" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="yunluo"
                    android:path="/wxm"
                    android:port="8989"
                    android:scheme="peng" />
            </intent-filter>
        </activity>
        <activity android:name=".CanvasActivity" >
            <intent-filter>
                <action android:name="com.peng.yunluo.callcanvas" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name="service.MyService" />

        <activity android:name=".SecondActivity" />
        <activity android:name=".ThridActivity"></activity>

        <receiver android:name="broadcast.MyBroadcastReceiver"
            android:permission="com.peng.yunluo.action.broadcast">


        </receiver>


    </application>

</manifest>